* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background: url(../img/background.jpg) no-repeat center center/ cover;
}

#add-class-container {
    display: flex;
    background-color: white;
    padding: 10%;
    width: fit-content;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px;
}

#input-task {
    padding: 2%;
    min-height: 50px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#add-task {
    min-height: 50px;
    min-width: 50px;
    border: 2px greenyellow solid;
    border-radius: 10px;
    color: greenyellow;
    background: black;
    /* box-shadow: 0 0 5px greenyellow;    */
    transition: 0.2s;
    cursor: pointer;
}

#add-task:hover {
    background-color: greenyellow;
    color: black;
    border-color: black;

}

/* Classes Added Using JS */

#task-container {
    margin-top: 3%;
    width: fit-content;
    padding: 2%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.task {
    display: flex;
    padding: 2%;
    width: 350px;
    align-items: center;
}

.task li {
    font-family: sans-serif;
    flex-grow: 1;
    width: 60%;
    margin-right: 3%;
    word-wrap: break-word;
    list-style: none;
}

.task button {
    margin: 1%;
}

.checkTask {
    height: 35px;
    width: 35px;
    color: greenyellow;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.deleteTask {
    height: 35px;
    width: 35px;
    color: red;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.checkTask:hover{
    background-color: greenyellow;
    color: black;
    border-color: black;
}
.deleteTask:hover{
    background-color: red;
    color: black;
    border-color: black;
}
.completed{
    text-decoration: line-through;
}
